<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <title>Title</title>
</head>
<body>
<div class="coopon_area">
    <div class="logo_area">
        <img id="logo_icon" src="{% static 'img/logo.png' %}">
    </div>
    <div class="main_content">
        <img id="main_content" src="{% static 'img/main.png' %}">
    </div>
    <div class="button-area">
        <img id="button_content" src="{% static 'img/button01.png' %}">
        <img id="button_content2" src="{% static 'img/button02.png' %}">
    </div>
</div>
</body>
</html>